.admin {
  display: flex;
  max-width: 1422px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 40px 8px;
}

.admin__navigation {
  margin-right: 16px;
}

.admin__frame {
  display: flex;
  flex-grow: 1;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
