.advantage {
  padding: 40px 20px 60px;
  color: #fff;
  background-image: linear-gradient(180deg, #1B2050 0%, rgba(27, 32, 80, 0.8) 100%);
}

.advantage__title {
  margin: 0 0 100px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.advantage__list {
  @include list;
  max-width: 1018px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.advantage__item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.advantage__item {
  padding: 20px;
  padding-top: 150px;
  width: 33%;
  max-width: 290px;
  background-image: url("../img/adv1.svg");
  background-repeat: no-repeat;
  background-position: top 15px center;
  text-align: center;

  &:nth-child(2) {
    background-image: url("../img/adv2.svg");
    background-position: top center;
  }

  &:nth-child(3) {
    background-image: url("../img/adv3.svg");
    background-position: top 15px center;
  }
}

.advantage__text {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
