.footer {
  padding: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-image: linear-gradient(180deg, #1B2050 0%, rgba(27, 32, 80, 0.8) 100%);
}
