.login {
  max-width: 310px;
  margin: 15% auto;
  padding: 25px 25px 40px 25px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.login__title {
  margin: 0 0 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.login__input {
  width: 100%;
  padding: 9px 15px 8px;
  margin-bottom: 20px;
  font-family: "HelveticaNeue", "Tahoma", sans-serif;
  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;

  &::placeholder {
    color: #B3B3B3;
  }
}

.login__btn {
  width: 100%;
  padding: 8px;
  color: #3B62C9;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  background-color: #fff;
  border: 1px solid #3B62C9;
  border-radius: 20px;

  &--callback {
    display: block;
    margin-top: 7px;
    text-align: center;
    text-decoration: none;
  }
}
