.navigation {
  flex-grow: 1;
}

.navigation__list {
  @include list;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  font-weight: 300;
  color: #5E5E5E;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.navigation__item {
  margin: 0 5px;
}

@media (min-width: 1100px) {
  .navigation__list {
    padding: 0 70px;
  }
}
