.navigation-admin {
  flex-grow: 1;
  max-width: 234px;
}

.navigation-admin__list {
  @include list;
  padding: 0 20px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.navigation-admin__item {
  &--active {
    background-image: url("../img/nav-active.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.navigation-admin__link {
  display: block;
  padding: 15px 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
  background-image: url("../img/nav1.svg");
  background-repeat: no-repeat;
  background-position: center left;
  border-bottom: 0.5px solid #F2F2F2;

  &--post {
    &::after {
      content: '12';
      position: relative;
      padding: 4px;
      margin-left: 7px;
      font-weight: 700;
      font-size: 9px;
      line-height: 11px;
      color: #fff;
      background-color: #F50000;
      border-radius: 50%;
    }
  }

  &--product {
    background-image: url("../img/nav2.svg");
  }

  &--gallery {
    background-image: url("../img/nav3.svg");
  }

  &--stock {
    background-image: url("../img/nav4.svg");
  }

  &--news {
    background-image: url("../img/nav5.svg");
  }

  &--spec {
    background-image: url("../img/nav6.svg");
  }
}
