@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
